div
  h4
    a(href="/tags/サークル") サークル
  ul.nav.nav-pills.nav-stacked
    +menu("体育会", "/tags/体育会")
    +menu("芸術", "/tags/芸術")
    +menu("音楽", "/tags/音楽")
    +menu("スポーツ", "/tags/スポーツ")
    +menu("アカデミック", "/tags/アカデミック")
  