div
  h4
     a(href="/campus") キャンパス
  ul.nav.nav-pills.nav-stacked
    +menu("お知らせ", "/campus/notice")
    +menu("スケジュール", "/campus/schedule")
    +menu("ニュース", "/campus/news")
    +menu("食堂献立", "/campus/restaurant")
    +menu("about", "/campus/about")