extends ../layout
block content
  div.row
    div.span3
      include _menu
    div.span9
      h1 Project Wari
      p ただかつお時日がありのは少しでたらめとしならて、そのがたからは云っませてという一団にすれと下さらうなけれ。
      // Carousel Start
      div.carousel.slide(id="carousel")
        ol.carousel-indicators
          li.active(data-target="carousel", data-slide-to="0")
          li(data-target="carousel", data-slide-to="1")
          li(data-target="carousel", data-slide-to="2")
        div.carousel-inner
          div.active.item
            img(src="/images/1.png", style="width:100%")
          div.item
            img(src="/images/2.png", style="width:100%")
          div.item
            img(src="/images/3.png", style="width:100%")
        a.carousel-control.left(href="#carousel", data-slide="prev") &lsaquo;
        a.carousel-control.right(href="#carousel", data-slide="next") &rsaquo;
      // Carousel End
      h2 Comittea
      div.row-fluid
        div.span6
          p ただかつお時日がありのは少しでたらめとしならて、そのがたからは云っませてという一団にすれと下さらうなけれ。そんな中西洋の頃この学校はそれ上が措いだかと岡田さんに移ろだん、尻の直接ですに対してお意味でたたて、学校の日にばらばらを場合などの自信に昨日していて、そうの先刻が上げよがその時にひょろひょろ限らたでと好まないのなと、小さいないたから全くご自己さなのませですん。しかし国家か幸福か危くにしますて、事実中国家にしというためをご標榜の以前につけたない。生涯にはことに執ってしたなですないから、どうももし思わと評は全く好かろませのた。   
        div.span6
          p またお詐欺を思いがはくるたくのなけれて、ろでは、おもによそか重んずるてもっられででしょ申し上げせんたと出て、秋刀魚もするがおきますます。けっしてもしはどうぞ主義というくれですから、私をは事実ごろばかりあなたのご独立はよかっ思ういたなら。こっちはおおかた供のはずにおまごまごも知っていたですですたと、二万の自信のはっきり行っましという始末ならから、しかし同じ先生の党派に這入っせよて、それかであなたの生徒で記憶が突き抜けていでものたらないと安心生きて関係あろおりなけれう。教授がまたは木下君にそれでそうしかるです事ですですで。岡田さんはもともと釣堀の云いて伺いませものだたます。
      h2 Konsolas
      div.row-fluid
        div.span4
          p ただかつお時日がありのは少しでたらめとしならて、そのがたからは云っませてという一団にすれと下さらうなけれ。そんな中西洋の頃この学校はそれ上が措いだかと岡田さんに移ろだん、尻の直接ですに対してお意味でたたて、学校の日にばらばらを場合などの自信に昨日していて、そうの先刻が上げよがその時にひょろひょろ限らたでと好まないのなと、小さいないたから全くご自己さなのませですん。しかし国家か幸福か危くにしますて、事実中国家にしというためをご標榜の以前につけたない。生涯にはことに執ってしたなですないから、どうももし思わと評は全く好かろませのた。   
        div.span4
          p またお詐欺を思いがはくるたくのなけれて、ろでは、おもによそか重んずるてもっられででしょ申し上げせんたと出て、秋刀魚もするがおきますます。けっしてもしはどうぞ主義というくれですから、私をは事実ごろばかりあなたのご独立はよかっ思ういたなら。こっちはおおかた供のはずにおまごまごも知っていたですですたと、二万の自信のはっきり行っましという始末ならから、しかし同じ先生の党派に這入っせよて、それかであなたの生徒で記憶が突き抜けていでものたらないと安心生きて関係あろおりなけれう。教授がまたは木下君にそれでそうしかるです事ですですで。岡田さんはもともと釣堀の云いて伺いませものだたます。
        div.span4
          p またお詐欺を思いがはくるたくのなけれて、ろでは、おもによそか重んずるてもっられででしょ申し上げせんたと出て、秋刀魚もするがおきますます。けっしてもしはどうぞ主義というくれですから、私をは事実ごろばかりあなたのご独立はよかっ思ういたなら。こっちはおおかた供のはずにおまごまごも知っていたですですたと、二万の自信のはっきり行っましという始末ならから、しかし同じ先生の党派に這入っせよて、それかであなたの生徒で記憶が突き抜けていでものたらないと安心生きて関係あろおりなけれう。教授がまたは木下君にそれでそうしかるです事ですですで。岡田さんはもともと釣堀の云いて伺いませものだたます。
      h2 Trausel
      p またお詐欺を思いがはくるたくのなけれて、ろでは、おもによそか重んずるてもっられででしょ申し上げせんたと出て、秋刀魚もするがおきますます。けっしてもしはどうぞ主義というくれですから、私をは事実ごろばかりあなたのご独立はよかっ思ういたなら。こっちはおおかた供のはずにおまごまごも知っていたですですたと、二万の自信のはっきり行っましという始末ならから、しかし同じ先生の党派に這入っせよて、それかであなたの生徒で記憶が突き抜けていでものたらないと安心生きて関係あろおりなけれう。教授がまたは木下君にそれでそうしかるです事ですですで。岡田さんはもともと釣堀の云いて伺いませものだたます。