div
  h4 
    a(href="/tags/進路と就職") 進路と就職
  ul.nav.nav-pills.nav-stacked
    +menu("就職", "/tags/就職")
    +menu("試験", "/tags/試験")
    +menu("留学", "/tags/留学")
    +menu("大学院", "/tags/大学院")
    +menu("創業", "/tags/創業")
    +menu("スタディ", "/tags/スタディ")