div
  h4 キャンパス
  ul.nav.nav-pills.nav-stacked
    +menu("index", "/campus")
    +menu("お知らせ", "/campus/notice")
    +menu("ケジュール", "/campus/schedule")
    +menu("ニュース", "/campus/news")
    +menu("食堂献立", "/campus/restaurant")
    +menu("about", "/campus/about")