div
  div.modal-header
    h4 side
  div.modal-body
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at orci sit amet velit interdum rutrum sit amet at tellus. Sed posuere tortor vitae ipsum volutpat, ac luctus augue vulputate. Sed faucibus cursus quam vel adipiscing.